{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
    <div class="container">

        <div>
            <h1 class="mt-0">Saison {{ season.number }} de {{program.title}}</h1>
            <p>{{ season.description }}</p>
            <p>Liste des épisodes:</p>
                <ul>
                    {% for episode in season.episodes %}
                    <li>Episode {{episode.number}} : {{episode.title}}<br>
                        {{episode.synopsis}}<br>
                        <a href="{{ path('program_episode_show',{program: program.id , season: season.id , episode: episode.id}) }}">Voir plus</a>
                    </li><br>
                    {% endfor %}
                </ul>
        </div>
{% endblock %}